body {
    background: rgb(221,220,238);
}

#navbar{
    background-color:#112D4E !important;
}
#form-div {
    border: 2px solid black;
    display: inline-grid;
    width: 25%;
    margin-left: 2%;
    padding: 10px;
    margin-top:5%;
    background-color:#112D4E !important;
}

#results-div {
    border: 2px solid black;
    display: inline-grid;
    width: 60%;
    margin-left: 2%;
    background-color:#112D4E !important;
}

.entry-div {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    margin-top:4px;
    margin-left: 17em;
    width:50%;
    text-align:center;
    display: inline-grid;
    background-color:#3F72AF !important;
    color: #F9F7F7 !important;
    
}

.entry-btn {
    background-color: #DBE2EF;
    margin-left: 5px;
}

#updateBtn {
    display:none;
}

#deleteBtn {
    display:none;
}

#cancelBtn {
    display:none;
}